modules = ["java-graalvm22.3", "nodejs-20", "bash", "web"]

[workflows]
runButton = "Start All Services"

[[workflows.workflow]]
name = "Start All Services"
author = 45733839
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && ./start-dev-services.sh"

[[workflows.workflow]]
name = "Start Frontend"
author = 45824518
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm install && npm run dev"

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001
