modules = ["java-graalvm22.3", "nodejs-20", "bash", "web"]
[workflows]
runButton = "Start All Services"

[[workflows.workflow]]
name = "Start All Services"
author = 45733839
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && ./start-dev-services.sh"

[nix]
channel = "stable-25_05"
